@model Shopify.Models.TNhanVien
@{
    ViewData["Title"] = "ThemNguoiDungMoi";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers 

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ThemNguoiDungMoi</title>
</head>
<body>

<h4>TDanhMucSp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ThemNguoiDungMoi">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaNhanVien" class="control-label"></label>
                <input asp-for="MaNhanVien" class="form-control" />
                <span asp-validation-for="MaNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TenNhanVien" class="control-label"></label>
                <input asp-for="TenNhanVien" class="form-control" />
                <span asp-validation-for="TenNhanVien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai1" class="control-label"></label>
                <input asp-for="SoDienThoai1" class="form-control" />
                <span asp-validation-for="SoDienThoai1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label"></label>
                <input asp-for="ChucVu" class="form-control" />
                <span asp-validation-for="ChucVu" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>   
    <a asp-action="DachSachNguoiDung">Back to List</a>
</div>

</body>
</html>
