@{
    ViewData["Title"] = "Home Page";
    Layout ="~/Views/Shared/_LayoutOgani.cshtml";
}
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<TDanhMucSp>


@foreach (var product in Model)
{
    @await Html.PartialAsync("PartialSanPham", product);
}

<div class="product__pagination">
    @Html.PagedListPager(Model, page=>Url.Action("SanPhamTheoLoai", new{page=page, maloai = ViewBag.maloai}))
</div>