@model IEnumerable<TLoaiSp>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="col-lg-3">
    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
            <span>All departments</span>
        </div>
        <ul>
            @foreach (var LoaiSpMenu in Model) 
            {
                var getUrl = "http://localhost:5052/api/productapi/" + LoaiSpMenu.MaLoai;
                <li><a style="cursor: pointer;" onclick="showProductByCategory('@getUrl')">@LoaiSpMenu.Loai</a></li>
                @* <li><a asp-controller="Home", asp-action="SanPhamTheoLoai" asp-route-maloai="@LoaiSpMenu.MaLoai">@LoaiSpMenu.Loai</a></li> *@
            }
            
        </ul>
    </div>
</div>

<script>
    function showProductByCategory(getUrl) {
        console.log(getUrl);
        var str = '';
        $.ajax({
            type: 'GET',
            url: getUrl, 
            dataType: 'json',
            success: function(data) {
                $.each(data, function(key, val){
                    str+='<p>' + val.tenSp + '</p>'
                })
                $('#displayProduct').html(str);
            },

            error: function(xhr) {
                alert(xhr.responseText)
            }
        });
    }
</script>